.topBox{
    width: 85%;
    margin: auto;
    margin-top: 50px;
}
.desStack{
    width: 50%;
}
.cont{
    width:95% ;
    margin: auto;

}
.topStack{
    width: 50%;
    height: 430px;
}
.img{
    width: 100%;
    height: 100%;
}
.logo{
    width: 25%;
    height: 45px;
}
.bottomStack {
    width: 50%;
}
.imgBox{
    width: 100%;
    height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.imgBox1 {
    width: 100%;
    height: 280px;
    border: solid black 1px;
}
.perkDiv{
    width: 100%;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.perkStack{
    margin: auto;
    margin-top: 100px;
}
.modalBox{
    border: solid 1px ;
    padding: 30px;
    background-color: #fafafa;
}
.perkdiv1{
    border: solid 1px black;
    margin-bottom: 20px;

}
.perkdiv1:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}